@model naloga2.Models.Uporabnik;
@{
    ViewData["Title"] = "Izpis";
}

<h3>Izpis: </h3>






<div>Ime: </div><p>@Model.Ime</p>
<div>Priimek: </div><p>@Model.priimek</p>
<div>Starost: </div><p>@Model.starost</p>
<div>Rojstni dan: </div><p>@Model.RojstniDan</p>
<div>Rojstni kraj: </div><p>@Model.KrajRojstva</p>
<div>EMSO: </div><p>@Model.emso</p>
<div>Naslov: </div><p>@Model.Naslov</p>
<div>Poštna številka:</div><p>@Model.PostnaStevilka</p>
<div>Pošta: </div><p>@Model.Posta</p>
<div>Država: </div><p>@Model.Drzava</p>
<div>Email: </div><p>@Model.Email</p>
@*<div>Geslo: </div><p>@Model.Geslo</p>*@
